MINIO_ROOT_USER=pachyderm
MINIO_ROOT_PASSWORD=pachyderm-secret-key-123456789
MINIO_ENDPOINT=http://minio:9000
AIRFLOW_S3_BUCKET=pachyderm

AIRFLOW_SECRET_KEY=dev-secret-key
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin123
AIRFLOW_ADMIN_FIRSTNAME=Local
AIRFLOW_ADMIN_LASTNAME=Admin
AIRFLOW_ADMIN_EMAIL=admin@local.test
AIRFLOW_DAG_ID=ingest_pipeline_local
